@import "tailwindcss";

:root {
  --color-parchment: #f4ecd8;
  --color-dark-wood: #2c1a0c;
  --color-stone: #5b5b5b;
  --color-gold: #cfa03c;
  --color-oxblood: #4a0404;
}

body {
  background-color: var(--color-parchment);
  color: var(--color-dark-wood);
  font-family: 'Georgia', serif; /* Aspect médiéval/officiel */
}

.panel-medieval {
  background-color: #e8dec3;
  border: 2px solid var(--color-dark-wood);
  box-shadow: 4px 4px 0px var(--color-stone);
}

.btn-royal {
  background-color: var(--color-oxblood);
  color: var(--color-gold);
  border: 1px solid var(--color-gold);
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: all 0.2s;
}

.btn-royal:hover {
  background-color: var(--color-dark-wood);
}